.media-Section
{
    width: 100%;
    display: flex;
    height: 350px;
    background-color: #F4F4F4;
}
.media-Section div
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 64px;
    transition: .5s;
}
.media-Section div h2
{
    margin-bottom: -40px;
}
.media-Section div span
{
    text-align: start;
}

.media-Section .ui
{
    width: 220px;
    height: 220px;
    background-color: #71AA27;
    border-radius: 50%;
}
.media-Section .design
{
    width: 220px;
    height: 220px;
    background-color: #FF8500;
    border-radius: 50%;
}
.media-Section .Img-area 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-Section .Img-area img
{
    z-index: 3;
}
.Video-Section
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 30px 80px;
}
.Video-Section .Card
{
    width: 190px;
    height: 300px;
}
.Video-Section .Card iframe
{
    width: 100%;
    height: 50%;
    border-radius: 8px;
}
.Video-Section .Card .BodyCard
{
    padding: 5px 10px;
    font-size: 12px;
}
.Video-Section .Card .BodyCard .parag
{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.Video-Section .Card .BodyCard .data
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding: 10px 15px 0 15px;
}

@media (max-width:600px)
{
    .Video-Section
    {
        justify-content: center;
        padding: 30px 30px;
        gap: 30px;
    }
    .Video-Section .Card iframe
    {
        height: 131px;
    }
    .Video-Section .Card .BodyCard
    {
        padding: 5px;
        font-size: 12px;
    }
    .Video-Section .Card
    {
        width: 167px;
        height: 300px;
    }
    .Video-Section .Card h3
    {
        font-size: 16px;
    }
    .Video-Section .Card .BodyCard .data p
    {
        font-size: 12px;
    }
}
@media(max-width:900px)
{
    .media-Section div
    {
        font-size: 44px;
    }
    .media-Section div h2
    {
        margin-bottom: -20px;
    }
    .media-Section .markiting
    {
        width: 160px;
        height: 160px;
    }
    .media-Section .markiting::before
    {
        width: 100px;
        height: 100px;
        top: 10px;
        left: 10px;
    }
    .media-Section .markiting::after
    {
        width: 60px;
        height: 60px;
        top: 30px;
        left: 30px;
    }
    .media-Section .ui
    {
        width: 160px;
        height: 160px;
    }
    .media-Section .design
    {
        width: 160px;
        height: 160px;
    }
}
@media(max-width:450px)
{
    .media-Section div
    {
        font-size: 24px;
    }
    .media-Section div h2
    {
        margin-bottom: -10px;
    }
    
    .media-Section .ui
    {
        width: 80px;
        height: 80px;
    }
    .media-Section .design
    {
        width: 80px;
        height: 80px;
    }
    .media-Section .Img-area img
    {
        width: 81px;
    }
}