.TopBar
{
    width: 100%;
}
.TopBar nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.TopBar nav .navigation 
{
    width: 100%;
    overflow-x: hidden;
}
.TopBar nav .indexClass0
{
    width: 180vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    transition: .6s;
    transform: translateX(-0vw);
}
.TopBar nav .indexClass1
{
    width: 180vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    transition: .6s;
    transform: translateX(-30vw);
}
.TopBar nav .indexClass2
{
    width: 180vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    transition: .6s;
    transform: translateX(-60vw);
}
.TopBar nav .indexClass3
{
    width: 180vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    transition: .6s;
    transform: translateX(-90vw);
}
.TopBar nav .indexClass4
{
    width: 180vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    transition: .6s;
    transform: translateX(-120vw);
}
.TopBar nav .indexClass5
{
    width: 180vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    transition: .6s;
    transform: translateX(-150vw);
}
.TopBar nav li
{
    width: 30vw;
    text-align: center;
    position: relative;
    color: #282828;
    height: 30px;
}

.TopBar nav li span
{
    cursor: pointer;
}
.TopBar .FQ-disapleButton
{
    z-index: -1;
    opacity: .5;
}
.TopBar .ChosingCategory span
{
    color: black;
    font-weight: 600;
}
.TopBar .ChosingCategory span
{
    position: relative;
    
}
.TopBar .ChosingCategory span::after
{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: orange;  
    right: 0;
    bottom: 0px; 
}
.ForBlur
{
    filter: blur(5px);
    position: relative;
}

.loader-spinner
{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.24);
}
.loader-spinnerOf
{
    display: none;
}

.Leave
{
    width: 529px;
    height: 214px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 8px;
    border: 1px solid #FF8500;
    text-align: center;
    z-index: 10;
    transition: .3s;
    opacity: 1;

}
.Leaveoff
{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 8px;
    border: 1px solid #FF8500;
    text-align: center;
    z-index: -1;
    transition: .3s;
    opacity: 0;
}
.Leave h3,.Leaveoff h3
{
    width: max-content;
    margin: 40px auto 60px auto;
}
.Leave div,.Leaveoff div
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.Leave button,.Leaveoff button
{
    width: 173px;
    height: 46px;
    border-radius: 4px;
    cursor: pointer;
}
.Leave .yes,.Leaveoff .yes
{
    color: #FF8500;
    border: 1px solid #FF8500;
    background-color: transparent;
}
.Leave .no,.Leaveoff .no
{
    background-color: #FF8500;
    border: 1px solid #FF8500;
    color: white;
}

.Hero-section .left-arwo, .Hero-section .right-arwo
{
    cursor: pointer;
}
@media (max-width:1250px)
{
    .TopBar nav .indexClass0
    {
        width: 240vw;
    }
    .TopBar nav .indexClass1
    {
        width: 240vw;
        transform: translateX(-40vw);
    }
    .TopBar nav .indexClass2
    {
        width: 240vw;
        transform: translateX(-80vw);
    }
    .TopBar nav .indexClass3
    {
        width: 240vw;
        transform: translateX(-120vw);
    }
    .TopBar nav .indexClass4
    {
        width: 240vw;
        transform: translateX(-160vw);
    }
    .TopBar nav .indexClass5
    {
        width: 240vw;
        transform: translateX(-200vw);
    }
    .TopBar nav li
    {
        width: 40vw;
        height: 35px;
    }
}
@media (max-width:920px)
{
    .TopBar nav .indexClass0
    {
        width: 480vw;
    }
    .TopBar nav .indexClass1
    {
        width: 480vw;
        transform: translateX(-80vw);
    }
    .TopBar nav .indexClass2
    {
        width: 480vw;
        transform: translateX(-160vw);
    }
    .TopBar nav .indexClass3
    {
        width: 480vw;
        transform: translateX(-240vw);
    }
    .TopBar nav .indexClass4
    {
        width: 480vw;
        transform: translateX(-320vw);
    }
    .TopBar nav .indexClass5
    {
        width: 480vw;
        transform: translateX(-400vw);
    }
    .TopBar nav li
    {
        width: 80vw;
        font-size: 16px;
    }
}

@media (max-width:700px)
{
    .TopBar nav
    {
        padding: 30px 30px ;
    }
    .TopBar nav .navigation 
    {
        width: 350px;
        margin: 0 auto;
    }
    .TopBar nav .indexClass0
    {
        width: 2100px;
    }
    .TopBar nav .indexClass1
    {
        width: 2100px;
        transform: translateX(-350px);
    }
    .TopBar nav .indexClass2
    {
        width: 2100px;
        transform: translateX(-700px);
    }
    .TopBar nav .indexClass3
    {
        width: 2100px;
        transform: translateX(-1050px);
    }
    .TopBar nav .indexClass4
    {
        width: 2100px;
        transform: translateX(-1400px);
    }
    .TopBar nav .indexClass5
    {
        width: 2100px;
        transform: translateX(-1750px);
    }
    .TopBar nav li
    {
        width: 350px;
        text-align: center;
    }
    .Leave
    {
        width: 300px;
        height: 170px;
    }
    .Leave h3
    {   
        margin: 30px auto 40px auto;
    }
    .Leave div
    {
        width: 90%;
        margin: 0px auto;
    }
    .Leave button
    {
        width: 123px;
        height: 36px;
        border-radius: 4px;
        cursor: pointer;
    }
}
@media (max-width:450px)
{
    .TopBar nav
    {
        padding: 30px 5px ;
    }
    .TopBar nav .navigation 
    {
        width: 310px;
        margin: 0 auto;
    }
    .TopBar nav .indexClass0
    {
        width: 1860px;
    }
    .TopBar nav .indexClass1
    {
        width: 1860px;
        transform: translateX(-310px);
    }
    .TopBar nav .indexClass2
    {
        width: 1860px;
        transform: translateX(-620px);
    }
    .TopBar nav .indexClass3
    {
        width: 1860px;
        transform: translateX(-930px);
    }
    .TopBar nav .indexClass4
    {
        width: 1860px;
        transform: translateX(-1240px);
    }
    .TopBar nav .indexClass5
    {
        width: 1860px;
        transform: translateX(-1560px);
    }
    .TopBar nav li
    {
        width: 310px;
        text-align: center;
    }
}