.Main
{
    position: relative;
}

.TopBar
{
    width: 100%;
    position: relative;
}
.TopBar nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.TopBar nav .navigation 
{
    width: 100%;
    overflow-x: hidden;
}
.TopBar .navigationstatic
{
    width: 100%;
}
.TopBar .MainPhots
{
    width: 425px !important;
}
.TopBar .indexClass
{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px 40px;
    flex-wrap: wrap;
    padding: 0 30px;
}
.TopBar nav li
{
    width: max-content;
    text-align: center;
    position: relative;
    color: #282828;
    height: 30px;
}

.TopBar nav li span
{
    cursor: pointer;
    color: black;
    font-weight: 500;
}

.TopBar .FQ-disapleButton
{
    z-index: -1;
    opacity: .5;
}
.TopBar .ChosingCategory span
{
    color: black;
    font-weight: 600;
}
.TopBar .ChosingCategory span
{
    position: relative;
    
}
.TopBar .ChosingCategory span::after
{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: orange;  
    right: 0;
    bottom: 0px; 
}
.ForBlur
{
    filter: blur(5px);
    position: relative;
}

.loader-spinner
{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.24);
}
.loader-spinnerOf
{
    display: none;
}
.LeaveFather
{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 0;
}
.Leave
{
    width: 529px;
    height: 214px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 8px;
    border: 1px solid #FF8500;
    text-align: center;
    z-index: 10;
    transition: .3s;
    opacity: 1;

}
.Leaveoff
{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 8px;
    border: 1px solid #FF8500;
    text-align: center;
    z-index: -1;
    transition: .3s;
    opacity: 0;
}
.Leave h3,.Leaveoff h3
{
    width: max-content;
    margin: 40px auto 60px auto;
}
.Leave div,.Leaveoff div
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.Leave button,.Leaveoff button
{
    width: 173px;
    height: 46px;
    border-radius: 4px;
    cursor: pointer;
}
.Leave .yes,.Leaveoff .yes
{
    color: #FF8500;
    border: 1px solid #FF8500;
    background-color: transparent;
}
.Leave .no,.Leaveoff .no
{
    background-color: #FF8500;
    border: 1px solid #FF8500;
    color: white;
}

.Hero-section .left-arwo, .Hero-section .right-arwo
{
    cursor: pointer;
}
/* @media (max-width:1250px)
{
    .TopBar nav li
    {
        height: 35px;
    }
}
@media (max-width:920px)
{
    
    .TopBar nav li
    {
        width: 80vw;
        font-size: 16px;
    }
} */

@media (max-width:700px)
{
    .TopBar nav
    {
        padding: 30px 30px ;
    }
    .TopBar nav .navigation 
    {
        width: 350px;
        margin: 0 auto;
    }
    
    .TopBar nav li
    {
        /* width: 350px; */
        text-align: center;
    }
    .Leave
    {
        width: 300px;
        height: 170px;
    }
    .Leave h3
    {   
        margin: 30px auto 40px auto;
    }
    .Leave div
    {
        width: 90%;
        margin: 0px auto;
    }
    .Leave button
    {
        width: 123px;
        height: 36px;
        border-radius: 4px;
        cursor: pointer;
    }
    .TopBar .MainPhots
{
    width: 325px !important;
}
}
@media (max-width:450px)
{
    .TopBar nav
    {
        padding: 30px 5px ;
    }
    .TopBar nav .navigation 
    {
        width: 310px;
        margin: 0 auto;
    }
    
    .TopBar nav li
    {
        /* width: 310px; */
        text-align: center;
    }
    .TopBar .MainPhots
    {
        width: 250px !important;
    }
}