.LogeIn
{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogeIn .Logo
{
    position: absolute;
    top: 30px;
    left: 80px;
}
.LogeIn .Footer
{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.LogeIn .Main-box
{
    width: 382px;
    transform: translateY(-50px);
}
.LogeIn .Main-box h2
{
    font-size: 28px;
    text-align: center;
}
.LogeIn .Main-box h4
{
    font-size: 20;
    text-align: center;
    margin-top: 20px;
}
.LogeIn .Main-box form
{
    display: flex;
    flex-direction: column;
    margin-top: 40px; 
}
.LogeIn .Main-box form input
{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(139, 138, 138);
    padding-right: 25px;
}
.LogeIn .Main-box form input::placeholder
{
    color: black;
    font-weight: 600;
    text-align: start;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    padding: 0 10px;
    font-family: "Tajawal", sans-serif;
}
.LogeIn .Main-box form button
{
    margin-top: 30px;
    width: 82px;
    height: 27px;
    background-color: #FF8500;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.LogeIn .Main-box form a
{
    display: flex;
    justify-content: end;
    text-decoration: none;
}
.pass-Area
{
    position: relative;
}
.pass-Area img
{
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

@media (max-width: 500px)
{
    .LogeIn .Main-box
    {
        width: 90%;
        transform: translateY(-50px);
    }
    .LogeIn .Main-box h2
    {
        font-size: 20px;
    }
    .LogeIn .Main-box h4
    {
        font-size: 16px;
    }
    .LogeIn .Logo
    {
        left: 20px;
    }
}